USE [master]
GO
/****** Object:  Database [BASE]    Script Date: 22/4/2026 01:24:15 ******/
CREATE DATABASE [BASE]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BASE', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\BASE.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BASE_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\BASE_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BASE].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BASE]
GO
/****** Object:  Table [dbo].[BITACORA]    Script Date: 22/4/2026 01:24:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BITACORA](
	[ID_BITACORA] [int] NOT NULL,
	[FECHA] [datetime] NOT NULL,
	[USUARIO] [varchar](50) NOT NULL,
	[MODULO] [varchar](50) NOT NULL,
	[OPERACION] [varchar](50) NOT NULL,
	[CRITICIDAD] [int] NOT NULL,
 CONSTRAINT [PK_BITACORA] PRIMARY KEY CLUSTERED 
(
	[ID_BITACORA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PERSONA]    Script Date: 22/4/2026 01:24:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PERSONA](
	[ID] [int] NOT NULL,
	[NOMBRE] [varchar](50) NOT NULL,
	[APELLIDO] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PERSONA_TITULO]    Script Date: 22/4/2026 01:24:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PERSONA_TITULO](
	[ID_P] [int] NOT NULL,
	[ID_T] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TITULO]    Script Date: 22/4/2026 01:24:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TITULO](
	[ID] [int] NOT NULL,
	[DESCRIPCION] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIO]    Script Date: 22/4/2026 01:24:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO](
	[ID] [int] NOT NULL,
	[USUARIO] [varchar](50) NOT NULL,
	[PASSWORD] [varchar](max) NOT NULL,
	[ESTADOBLOQUEADO] [bit] NOT NULL,
	[INTENTOSFALLIDOS] [int] NOT NULL,
 CONSTRAINT [PK_USUARIO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[BITACORA] ([ID_BITACORA], [FECHA], [USUARIO], [MODULO], [OPERACION], [CRITICIDAD]) VALUES (1, CAST(N'2026-04-22T01:11:15.047' AS DateTime), N'Sistema / No autenticado.', N'Seguridad', N'Inicio de sesión exitoso', 1)
INSERT [dbo].[BITACORA] ([ID_BITACORA], [FECHA], [USUARIO], [MODULO], [OPERACION], [CRITICIDAD]) VALUES (2, CAST(N'2026-04-22T01:15:49.540' AS DateTime), N'Sistema / No autenticado.', N'Seguridad', N'Inicio de sesión exitoso', 1)
INSERT [dbo].[BITACORA] ([ID_BITACORA], [FECHA], [USUARIO], [MODULO], [OPERACION], [CRITICIDAD]) VALUES (3, CAST(N'2026-04-22T01:17:07.117' AS DateTime), N'Sistema / No autenticado.', N'Seguridad', N'Inicio de sesión exitoso', 1)
GO
INSERT [dbo].[USUARIO] ([ID], [USUARIO], [PASSWORD], [ESTADOBLOQUEADO], [INTENTOSFALLIDOS]) VALUES (1, N'tp', N'3abd807250d1b53741c345896f2d79faf6e7dcdb75860e98a2f84e38e874c236', 0, 0)
INSERT [dbo].[USUARIO] ([ID], [USUARIO], [PASSWORD], [ESTADOBLOQUEADO], [INTENTOSFALLIDOS]) VALUES (2, N'tp2', N'tp2', 0, 0)
INSERT [dbo].[USUARIO] ([ID], [USUARIO], [PASSWORD], [ESTADOBLOQUEADO], [INTENTOSFALLIDOS]) VALUES (3, N'admin', N'admin123', 0, 0)
GO
ALTER TABLE [dbo].[USUARIO] ADD  CONSTRAINT [DF_USUARIO_ESTADOBLOQUEADO]  DEFAULT ((0)) FOR [ESTADOBLOQUEADO]
GO
ALTER TABLE [dbo].[USUARIO] ADD  CONSTRAINT [DF_USUARIO_INTENTOSFALLIDOS]  DEFAULT ((0)) FOR [INTENTOSFALLIDOS]
GO
/****** Object:  StoredProcedure [dbo].[ACTUALIZAR_ESTADOBLOQUEADO]    Script Date: 22/4/2026 01:24:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[ACTUALIZAR_ESTADOBLOQUEADO]
@usu varchar(50), @estadobloqueado bit
as
begin
update USUARIO set
ESTADOBLOQUEADO=@estadobloqueado
where @usu=USUARIO
end
GO
/****** Object:  StoredProcedure [dbo].[ACTUALIZAR_INTENTOS_FALLIDOS]    Script Date: 22/4/2026 01:24:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[ACTUALIZAR_INTENTOS_FALLIDOS]
@usu varchar(50), @intentos int
AS
BEGIN
update USUARIO set
INTENTOSFALLIDOS=@intentos
where @usu=USUARIO
END
GO
/****** Object:  StoredProcedure [dbo].[INSERTAR_BITACORA]    Script Date: 22/4/2026 01:24:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[INSERTAR_BITACORA]
 @fecha datetime, @usuario varchar(50), @modulo varchar(50), @operacion varchar(50) ,@criticidad int
AS
BEGIN
declare @id_bitacora int
set
@id_bitacora=(select ISNULL(max(ID_BITACORA),0) +1 from BITACORA)
insert into BITACORA (ID_BITACORA, FECHA, USUARIO, MODULO, OPERACION, CRITICIDAD)
values(@id_bitacora, @fecha, @usuario, @modulo, @operacion, @criticidad)

END
GO
/****** Object:  StoredProcedure [dbo].[OBTENER_BITACORA]    Script Date: 22/4/2026 01:24:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[OBTENER_BITACORA]
AS
BEGIN
select ID_BITACORA, FECHA, USUARIO, MODULO, OPERACION, CRITICIDAD 
FROM BITACORA
ORDER BY FECHA DESC
END
GO
/****** Object:  StoredProcedure [dbo].[OBTENER_USUARIO_POR_NOMBRE]    Script Date: 22/4/2026 01:24:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[OBTENER_USUARIO_POR_NOMBRE]
@usu varchar(50)
AS
BEGIN
SELECT * FROM USUARIO WHERE USUARIO= @usu
END
GO
/****** Object:  StoredProcedure [dbo].[VERIFICAR_USUARIO]    Script Date: 22/4/2026 01:24:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[VERIFICAR_USUARIO]

@usu varchar(50), @pass varchar(50)
as

SELECT * FROM USUARIO
WHERE USUARIO.USUARIO =@usu AND USUARIO.PASSWORD= @pass
GO
USE [master]
GO
